@charset "utf-8";
@import url("default.css");
@import url("header.css");
@import url("footer.css");
body{
	font-size: 14px;
	font-family: "맑은 고딕",sans-serif;
	color: #333;
}
.main_visual{
    width: 100%;
    height: 400px;
    background: url("../images/tang_main.png") no-repeat;
    background-size: cover;
}
.main_visual>h2{
    font-size: 42px;
	text-align: center;
	line-height: 310px;
	font-weight: bold;
    color: #fff;
}
.container{
    width: 100%;
    overflow: hidden;
    background: #E6E9EF;
}
.container>.innerbox{
    width: 1200px;
    margin: 0 auto;
}
.container>.innerbox>h3{
    font-size: 30px;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
    font-weight: bold;
}
.container>.innerbox>.menu{
    width: 1200px;
    overflow: hidden;
    padding-bottom: 80px;
  
}
.container>.innerbox>.menu>ul{
    width: 1200px;
    overflow: hidden;
}
.container>.innerbox>.menu>ul>li{
    width: 320px;
    height: 350px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    border: 1px solid #5d5d5d;
    margin-right: 117px;
    background: url("../images/fride1.png") no-repeat;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 310px;
    box-sizing: border-box;
}
.container>.innerbox>.menu>ul>li:nth-child(2){
    background: url("../images/fried2.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(3){
    background: url("../images/fried3.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(4){
    background: url("../images/fried4.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(5){
    background: url("../images/fried5.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(6){
    background: url("../images/fried6.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(7){
    background: url("../images/fried7.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(8){
    background: url("../images/fried8.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-child(9){
    background: url("../images/fried9.png") no-repeat;
}
.container>.innerbox>.menu>ul>li:nth-of-type(3){
    margin-right: 0;
}
.container>.innerbox>.menu>ul>li:nth-of-type(6){
    margin-right: 0;
}
.container>.innerbox>.menu>ul>li:nth-of-type(9){
    margin-right: 0;
}